@import '~antd/dist/antd.css';

.ant-btn-primary {
    background-color: #37474F !important;
    border-color: #37474F !important;
    color: 'white'
}
.ant-btn-primary:hover {
    background-color: #15202B !important;
    border-color: #15202B !important;
    color: 'white'
}

.site-page-header {
    border: 1px solid #8899A6;
    background-color: #8899A6;
}
